---
http_interactions:
- request:
    method: post
    uri: https://public-ws-stage.dpd.com/services/ParcelLifeCycleService/V2_0/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://dpd.com/common/service/types/Authentication/2.0" xmlns:ns1="http://dpd.com/common/service/types/ParcelLifeCycleService/2.0">
          <soapenv:Header>
            <ns:authentication>
              <delisId><USERNAME></delisId>
              <authToken>wrongtoken</authToken>
              <messageLanguage>en_EN</messageLanguage>
            </ns:authentication>
          </soapenv:Header>
          <soapenv:Body>
            <ns1:getTrackingData>
              <parcelLabelNumber>09981122330100</parcelLabelNumber>
            </ns1:getTrackingData>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://dpd.com/common/service/ParcelLifeCycleService/2.0/getTrackingData"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><soap:Fault><faultcode>soap:detail</faultcode><faultstring>Fault occured</faultstring><detail><ns:authenticationFault xmlns:ns="http://dpd.com/common/service/types/Authentication/2.0">
        <errorCode>LOGIN_5</errorCode>
        <errorMessage>The authtoken is invalid</errorMessage>
        </ns:authenticationFault>
        </detail></soap:Fault></soap:Body></soap:Envelope>
  recorded_at: Mon, 13 Jan 2025 16:07:33 GMT
recorded_with: VCR 6.3.1
