---
http_interactions:
- request:
    method: post
    uri: https://public-ws-stage.dpd.com/services/ParcelLifeCycleService/V2_0/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://dpd.com/common/service/types/Authentication/2.0" xmlns:ns1="http://dpd.com/common/service/types/ParcelLifeCycleService/2.0">
          <soapenv:Header>
            <ns:authentication>
              <delisId><USERNAME></delisId>
              <authToken>LTgwMTUyMjgwNzI4NzY0ODMwOTERMTUzMTk3OTQ0MTA0NwRR</authToken>
              <messageLanguage>en_EN</messageLanguage>
            </ns:authentication>
          </soapenv:Header>
          <soapenv:Body>
            <ns1:getTrackingData>
              <parcelLabelNumber>00000000000000</parcelLabelNumber>
            </ns1:getTrackingData>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://dpd.com/common/service/ParcelLifeCycleService/2.0/getTrackingData"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:getTrackingDataResponse
        xmlns:ns2="http://dpd.com/common/service/types/ParcelLifeCycleService/2.0"><trackingresult/></ns2:getTrackingDataResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 19 Jul 2018 17:17:45 GMT
recorded_with: VCR 4.0.0
