---
http_interactions:
- request:
    method: post
    uri: https://public-ws-stage.dpd.com/services/ParcelLifeCycleService/V2_0/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://dpd.com/common/service/types/Authentication/2.0" xmlns:ns1="http://dpd.com/common/service/types/ParcelLifeCycleService/2.0">
          <soapenv:Header>
            <ns:authentication>
              <delisId><USERNAME></delisId>
              <authToken>LTE3OTYwNjU1ODk5MTEzMjQ0MjERMTUzMjY3MTExMTgzNARR</authToken>
              <messageLanguage>en_EN</messageLanguage>
            </ns:authentication>
          </soapenv:Header>
          <soapenv:Body>
            <ns1:getTrackingData>
              <parcelLabelNumber>09981122330100</parcelLabelNumber>
            </ns1:getTrackingData>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://dpd.com/common/service/ParcelLifeCycleService/2.0/getTrackingData"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:getTrackingDataResponse
        xmlns:ns2="http://dpd.com/common/service/types/ParcelLifeCycleService/2.0"><trackingresult><shipmentInfo><status>SHIPMENT</status><label><content>Shipment
        information</content><bold>true</bold><paragraph>false</paragraph></label><description><content><content>Details
        of your shipment</content><bold>false</bold><paragraph>false</paragraph></content><linkTarget/></description><statusHasBeenReached>false</statusHasBeenReached><isCurrentStatus>false</isCurrentStatus><showContactInfo>false</showContactInfo><serviceDescription><label><content>Your
        DPD service: </content><bold>false</bold><paragraph>false</paragraph></label><content><content>DPD
        CLASSIC C.O.D.</content><bold>false</bold><paragraph>false</paragraph></content><linkTarget/></serviceDescription></shipmentInfo><statusInfo><status>ACCEPTED</status><label><content>Parcel
        handed to DPD</content><bold>true</bold><paragraph>false</paragraph></label><description><content><content>DPD
        has received your parcel.</content><bold>false</bold><paragraph>false</paragraph></content><linkTarget/></description><statusHasBeenReached>false</statusHasBeenReached><isCurrentStatus>true</isCurrentStatus><showContactInfo>false</showContactInfo></statusInfo><statusInfo><status>AT_SENDING_DEPOT</status><label><content>In
 [...]
