---
http_interactions:
- request:
    method: post
    uri: https://public-ws-stage.dpd.com/services/LoginService/V2_0/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://dpd.com/common/service/types/LoginService/2.0">
          <soapenv:Header/>
          <soapenv:Body>
            <ns:getAuth>
              <delisId><USERNAME></delisId>
              <password><PASSWORD></password>
              <messageLanguage>en_EN</messageLanguage>
            </ns:getAuth>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://dpd.com/common/service/LoginService/2.0/getAuth"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:getAuthResponse
        xmlns:ns2="http://dpd.com/common/service/types/LoginService/2.0" xmlns:ns3="http://dpd.com/common/service/exceptions"><return><delisId><USERNAME></delisId><customerUid><USERNAME></customerUid><authToken>LTgwMTUyMjgwNzI4NzY0ODMwOTERMTUzMTk3OTQ0MTA0NwRR</authToken><depot>0998</depot></return></ns2:getAuthResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 19 Jul 2018 15:32:43 GMT
recorded_with: VCR 3.0.3
